NODE_ENV=development
PORT=3000
USERNAME=dbEslam
DATABASE=mongodb+srv://dbEslam:eslam1234@cluster0.qndn9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:27017/AimTask
DATABASE_PASSWORD=eslam1234